
body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #0a1a2a;
    display: flex;
    flex-direction: column;
}
section{
    height: 100vh;
}
.border {
    border: 1px solid;
}

.flex {
    display: flex;
}

a {
    color: white;
    text-decoration: none;
}
.text {
    color: white;
}
.nav-content ul {
    gap: 40px;
    list-style: none;
    margin-right: 5rem;
    padding: 0;
}

.nav-content {
    align-items: start;
    width: 100%;
}

.main-nav a {
    color: white;
    text-decoration: none;
}

.main-nav {
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    border-radius: 5px;
    color: white;
    background-color: #0a1a2a ;
    
    height: 5rem;

}

.logo {
    width: 25%;
}
.logo a {
    color: #00cfff;
    font-size: 30px;
}


.btn-auth {
    margin-left: 5rem;
    gap: 1.5rem;
    padding-right: 3rem;
    
}

.btn button {
    background: linear-gradient(to right, #00cfff, #b300ff);
    color: white;
    border: 1px solid black;
    border-radius: 9px;
    height: 2.5rem;
    width: 10rem;
    padding: 0 1rem;
    margin-top: 0.5rem;
    font-size: 15px;
}
.btn-auth button {
    background: linear-gradient(to right, #00cfff, #b300ff);
    color: white;
    border: 1px solid black;
    border-radius: 9px;
    height: 2.5rem;
    width:6rem;
    padding: 0 1rem;
    font-size: 15px;
}
footer {
    background-color: #0E2439;
    padding: 2rem;
    border-top:3px solid #00cfff;
    color: white;
}
footer h3{
color: #47cce9;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}
footer ul li {
    margin-bottom: 1rem;
}
.footer-column {
    width: 200px;
    gap: 10rem;

}
.footer-top {
    display: flex;
    gap: 9rem;
}

.footer-about {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 2rem;
    gap: 3rem;
}

.footer-description {
    width: 30rem;
}

.footer-title {
    color: white;
}

.footer-middle {
    justify-content: space-around;
    margin-top: 2rem;
    border-top: 0.5px solid white;
}
.footer-middle-contacts a{
    margin-top: 0;
    
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    border-top: 1px solid white;
    margin-top: 2rem;
}
.footer-bottom-text{
    gap: 5rem;
    padding-top: 1rem;
    display: flex;
}
.footer-text{
display: flex;
gap: 90px;
}
.footer-column-titre{
    color: #47cce9;

}
.icons{
    display: flex;
    gap: 30px;
    width: 24px;
    height: 24px;
    color: #47cce9  ;
    border-radius: 51%;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hero {
   
    background: url("./assets/Arena2.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
    padding-bottom: 40vh;

}



.hero-content {
    color: white;
    text-align: center;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

.hero-content h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
    
}

.hero-content p {
    font-size: 1.4rem;
    font-weight: 300;
}
.heroBTNS{
display: flex;
justify-content: center;
gap: 3rem;
}
.trailer-btn button{
background-color: transparent;
border:2px solid#47cce9;
border-radius: 9px;
color: white;
height: 2.5rem;
width: 10rem;
padding: 0 1rem;
margin-top: 0.5rem;
font-size: 15px;
}


.signupNow{
display: flex;
flex-direction: column;
background-color: #0a1a2a;
gap: 20px;
color:black;
align-items: center;
justify-content: center;
margin: 8rem 0;

}

.signupNow-carte{
    color: white;
    background-color: #192A3A;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #47cce9  ;
    border-radius: 20px;
    width: 50vw;
    height: 40vh;
    gap: 1rem;
}
.games-card-row1{
    justify-content: center;
    align-items: center;
    padding: 0 0 5rem;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
}
.games-card-row2{
    justify-content: center;
    align-items: center;
    padding-bottom:5rem;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
}

.card-row1{
    position: relative;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    height: 350px;
    border: 0.5px solid;
    border-radius: 10px;
    
  }
  .card-row1 img {
    width: 100%;
    height: 100%;      
    object-fit: cover;     
    display: block;
}

  .card-text {
    position: absolute;
    left: 16px;
    bottom: 10px;
    color: white;
  }
  
  .card-text h5{
    margin: 4px 0;
    font-size: 1rem;
   
  }
  .card-text h6{
    color: #00cfff;
    margin-top: 12px;
  text-shadow: 1px 1px 10px black; 
}
  .card-text p{
    opacity: 0.5;
  }

  /* TOURNAMENNNNNNNNNNNNNNNNNNNNNNT */
  .card-tr,.card-tr2{
    height: 500px;
    display: flex;
    align-items: center;
    gap: 50px; 
    margin-left: 17%;
    padding-bottom: 5rem;
    
  }
  
  .card{
    border: 1.5px solid #00cfff;
    border-radius: 10px;
    height: 335px;
    width: 290px;
    background-color: #02052b;
    
  }
  
  .card-tr img,.card-tr2 img{
    height: 150px;
    width:100%;
    border-bottom:4px solid #00cfff;
    border-radius: 9px;
    object-fit: cover;
    
  }
  .card-tr-txt,.card-bl-txt{
   margin-left: 1rem;

  }

.card-tr-txt p:nth-child(1){
    color: white;
    font-size: small;
}
.card-tr-txt p:nth-child(2){
    color: white;
    font-size: small;
    opacity: 0.5;
}
.card-tr-txt p:nth-child(3){
    color: white;
    opacity: 0.5;
    font-size: small;
    text-align: center;

}
.join{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
}
.join a{
color: #00cfff;
padding-left: 10px;
}
/* Bloooooooooog */
.cards-bl{
    height: 500px;
    display: flex;
    align-items: center;
    gap: 50px; 
    margin-left: 17%;
    padding-bottom: 5rem;   
}
.card-bl{
   border: 1px solid #00cfff;
    border-radius: 10px;
    height: 55vh;
    width: 20vw;
    background-color: #02052b; 
}

.imag-bl img{
    height: 150px;
    width:100%;
    border-bottom:4px solid #00cfff;
    border-radius: 9px;
    object-fit: cover;

}
.card-bl-txt{
    height: 19vh;
}

.auteur{
justify-content: space-between;
display: flex;
flex-direction: row;
font-size: small;
opacity: 0.5;
color: white;
padding-right: 10px;

}
.auteur i{
    display: flex;
    align-items: center;
}

.card-bl-txt > p:nth-child(2){
    color: white;
    font-size: small;
    opacity:0.5; 
    height: 5vh;  
}
.card-bl-txt > p:nth-child(1){
    color: white;
    font-size: medium;  
    height: 6vh;
    
}
.read a{ 
   color: #00cfff;
    padding-left: 10px 
}
.read{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 10px;
    border: 0.5px solid #00cfff;
    padding: 10px;
    border-radius: 7px;
}



